@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");


@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/navbar.css");
@import url("components/container.css");
@import url("components/cards.css");
@import url("components/footer.css");


@media (max-width: 960px) {
    /* Para una pantalla < 960px, se leerá este CSS */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* Para una pantalla < 720px, se leerá este CSS */
    .container {
      width: 500px;
  
    }
  }
  @media (max-width: 540px) {
    /* Para una pantalla < 540px, se leerá este CSS */
    .container {
      width: 300px;
    }
  }
body {
    font-family: 'Lora', serif;
    font-size: 18px;
    margin: unset;
    background: #F7F9FC;
}

a {
  text-decoration: none;
}

p {
  font-size: large;
}

ul {
  list-style-type: none;
  text-align: left;    
  width: auto;
  margin: 0px 0px;
  background-size: cover;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 20px;
  left: 40px;
  color: #07df12 ;
  font-size: 20px;;

}

