.banner{
  /* 1. Coloca la imagen de fondo */
  /* 2. Haz que la imagen de fondo  cubra el div del banner */
	background-size: cover;
  /* 3. Centra la imagen */
	background-position: center;
  height: 250px;
  padding: 80px;
  margin-bottom: 20px;
  width: fit-content;
}

.banner h1 {
  color: white;
  font-size: 50px;
  margin: 0px;
}
.banner h2 {
  color: rgb(230,230,230);
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
  margin-bottom: 40px;
}
 .navbar{
position: absolute;
  top: 20px;
  right: 30px;
  text-align: right;

}
.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  text-align: right;
  width:max-content;
}
